<!--
  ~ /*******************************************************************************
  ~ * Copyright Ⓒ 2016. TrinhQuan. All right reserved
  ~ * Author: TrinhQuan. Created on 2016/11/20
  ~ * Contact: trinhquan.171093@gmail.com
  ~ ********************************************************************************/
  -->

<manifest package="com.tq.libs.recyclerview.expandable"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

    </application>

</manifest>
